<!DOCTYPE html>
<html>
<head>
  <title>Password Update</title>
  <style>
    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    h2 {
      color: #333;
    }

    p {
      margin-top: 20px;
    }

    .success-message {
      color: #008000;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Password Updated Successfully</h2>
    <img src="https://www.itprotoday.com/sites/itprotoday.com/files/password%20attacks.jpg"   style="width: 100%;","height=500px;"></img>
    <p class="success-message">Your password has been updated successfully.</p>

  </div>
</body>
</html>
